@model Reservation

<h2>Make a Reservation</h2>

<form asp-action="Create">
    <div>
        <label asp-for="User.UserName">Your Name</label>
        <input asp-for="User.UserName" />
    </div>
    <div>
        <label asp-for="ReservationDate">Date and Time</label>
        <input asp-for="ReservationDate" type="datetime-local" />
    </div>
    <div>
        <label asp-for="NumberOfGuests">Number of Guests</label>
        <input asp-for="NumberOfGuests" type="number" min="1" />
    </div>
    <input asp-for="LocationId" type="hidden" />
    <button type="submit">Submit</button>
</form>
