@model IEnumerable<Reservation>

<h2>Reservations</h2>

@foreach (var reservation in Model)
{
    <div>
        <h4>@reservation.User.UserName</h4>
        <p>@reservation.ReservationDate</p>
        <p>Number of Guests: @reservation.NumberOfGuests</p>
    </div>
}

<a asp-action="Create" asp-route-locationId="@ViewContext.RouteData.Values["locationId"]">Make a Reservation</a>
