@model IEnumerable<Review>

<h2>Reviews</h2>

@foreach (var review in Model)
{
    <div>
        <h4>@review.User.UserName</h4>
        <p>@review.Comment</p>
        <p>Rating: @review.Rating</p>
    </div>
}

<a asp-action="Create" asp-route-locationId="@ViewContext.RouteData.Values["locationId"]">Add Review</a>
