@model TourView.Models.MyViewModel
@{
    ViewData["Title"] = "Admin Panel - Roles Panel";
    }
<h3>Registered users</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>UserID</th>
            <th>Role</th>
            <th>Set as Manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in ViewBag.userWithRoles)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.UserId</td>
                <td>@user.RoleName</td>
                @if(user.RoleName == "User")
                {
                    <td><a asp-controller="AdminPanel" asp-action="SetManager" asp-route-userId="@user.UserId">Set as Manager</a></td>
                }
                else
                {
                    <td>-</td>
                }
                
            </tr>
        }
    </tbody>
</table>